@font-face{
  font-family: Avenir;
  src: url('./fonts/AvenirLTStd-Book.otf');
}

h1 {
  color: #01b7ee;
  font-size: 50px;
  text-align: center;
}
body{
  margin: 0px;
}

#blackTopBar {
  height: 25px;
  background-color: #373737;
  
}

#app {
  max-width: 560px;
  margin: auto;
}


#min {
  min-width: 500px;
}

#tinyMsg {
  font-size: 11px;
  font-style: italic;
  margin-bottom: 20px;
}

.imgCenter {
  display: table;
  margin: auto;
}

.cardIngredHeader {
  font-weight: bold;
  font-size: 12px;
  text-decoration: underline;
}

.center{
  text-align: center;
}

.centerBlock {
  margin: auto;
}

.error {
  display: block;
  font-size: 11px;
}

.header {
  font-weight: bold;
}

* {
  background: #555;
  color: white;
  font-family: Avenir;
  font-weight: 200;
}

.card {
    list-style-type:none;
    border: 2px solid #3a3a3a;
    background: #444444;
    padding: 10px 0px 10px 20px;
    width: 550px;
    height: 100px;
    border-radius: 15px;
}

.cardTextBGcolor{
  background: #444444;
}

#search {

}

#search input[type="text"] {
    background: no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 16px Arial,Helvetica,Sans-serif;
    color: white;
    height: 40px;
    width: 300px;
    padding: 6px 15px 6px 35px;
    margin: 20px 0px 5px 0px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    outline: none;
    border-radius: 20px 0px 0px 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 350px;
    }

.button {
  margin: 20px 0px 0px 0px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  line-height: 46px;
  padding: 0 25px;
  font-family: Arial;
  font-size: 16px;
  color: #bbb;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  background-color: #303030;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #202020 #1a1a1a #111;
  border-radius: 0px 20px 20px 0px;
  background-image: -webkit-linear-gradient(top, #3d3d3d, #272727);
  background-image: -moz-linear-gradient(top, #3d3d3d, #272727);
  background-image: -o-linear-gradient(top, #3d3d3d, #272727);
  background-image: linear-gradient(to bottom, #3d3d3d, #272727);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.button:active {
  box-shadow: 0 2px 0 #8b8686;
  top: 3px;
}